<p>List of Farm Animals</p>

<div *ngIf="animals$ | async as animals">
  <div *ngFor="let animal of animals">
    <p>
      <strong>Name:</strong> {{ animal.name }}<br>
      <strong>Species:</strong> {{ animal.species }}<br>
      <strong>Breed:</strong> {{ animal.breed }}<br>
      <strong>Sex:</strong> {{ animal.sex }}<br>
      <strong>Status:</strong> {{ animal.status }}<br>
      <strong>Date of Birth:</strong> {{ animal.dob }}
    </p>
    <button (click)="deleteAnimal(animal)">Delete</button> 
    <button [routerLink]="['/edit-animal', animal.id]">Edit</button> 
    <!--//
    <button [routerLink]="['/animals', animal.id, 'health']">Health Records</button>
    
    <div class="card-footer d-flex justify-content-start">
      <button 
          class="btn btn-outline-info me-2" 
          [routerLink]="['/animals', animal.id, 'health']"
      >
          View Health Records
      </button>
      
      <button 
          class="btn btn-outline-success me-2" 
          [routerLink]="['/animals', animal.id, 'breeding']"
      >
          View Breeding Events
      </button>
    </div>
    //-->
  </div>
</div>