<p>List of Farm Animals</p>

<div *ngIf="animals$ | async as animals">
  <div *ngFor="let animal of animals">
    <p>
      <strong>Name:</strong> {{ animal.name }}<br>
      <strong>Species:</strong> {{ animal.species }}<br>
      <strong>Breed:</strong> {{ animal.breed }}<br>
      <strong>Sex:</strong> {{ animal.sex }}<br>
      <strong>Status:</strong> {{ animal.status }}<br>
      <strong>Date of Birth:</strong> {{ animal.dob }}
    </p>
    <button (click)="deleteAnimal(animal)">Delete</button> 
    <button [routerLink]="['/edit-animal', animal.id]">Edit</button> 
    <button [routerLink]="['/animals', animal.id, 'health']">Health Records</button>
  </div>
</div>