<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Pregnancy Checks </h2> <!--// (Event: {{ eventId }}) //-->
    <button class="btn btn-primary" (click)="onAddCheck()">
      Add New Check
    </button>
  </div>

  <div *ngIf="pregnancyChecks$ | async as checks">
    <div class="list-group mt-3">
      <div class="list-group-item" *ngFor="let check of checks">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Result: {{ check.result }}</h5>
          <small>Check Date: {{ check.checkDate }}</small>
        </div>
        <p class="mb-1">Method: {{ check.confirmationMethod }}</p>
        <div>
          <button class="btn btn-sm btn-info" (click)="onEdit(check.id!)">
            Edit
          </button>
          <button 
            class="btn btn-sm btn-danger ms-2" 
            (click)="onDelete(check.id!)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <button class="btn btn-secondary" (click)="onBackToBreedingEvents()">
      Back to Breeding Events
    </button>
  </div>
</div>