<form *ngIf="animal" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Edit Animal</h2>

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" [(ngModel)]="animal.name" required #name="ngModel">
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <div *ngIf="name.errors?.['required']">
      Name is required.
    </div>
  </div>

  <label for="species">Species:</label>
  <input type="text" id="species" name="species" [(ngModel)]="animal.species" required #species="ngModel">
  <div *ngIf="species.invalid && (species.dirty || species.touched)">
    <div *ngIf="species.errors?.['required']">
      Species is required.
    </div>
  </div>

  <label for="breed">Breed:</label>
  <input type="text" id="breed" name="breed" [(ngModel)]="animal.breed" required #breed="ngModel">
  <div *ngIf="breed.invalid && (breed.dirty || breed.touched)">
    <div *ngIf="breed.errors?.['required']">
      Breed is required.
    </div>
  </div>

  <label for="dob">Date of Birth:</label>
  <input type="date" id="dob" name="dob" [ngModel]="animal.dob | date:'yyyy-MM-dd'" (ngModelChange)="animal.dob = $event" required #dob="ngModel">
  <div *ngIf="dob.invalid && (dob.dirty || dob.touched)">
    <div *ngIf="dob.errors?.['required']">
      Date of Birth is required.
    </div>
  </div>

  <label for="sex">Sex:</label>
  <select id="sex" name="sex" [(ngModel)]="animal.sex" required #sex="ngModel">
    <option value="" disabled>Select Sex</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
  <div *ngIf="sex.invalid && (sex.dirty || sex.touched)">
    <div *ngIf="sex.errors?.['required']">
      Sex is required.
    </div>
  </div>

  <label for="status">Status:</label>
  <input type="text" id="status" name="status" [(ngModel)]="animal.status" required #status="ngModel">
  <div *ngIf="status.invalid && (status.dirty || status.touched)">
    <div *ngIf="status.errors?.['required']">
      Status is required.
    </div>
  </div>

  <div class="card-footer d-flex justify-content-start">
    <button type="submit" [disabled]="form.invalid">Update Animal</button>
    &nbsp;
    <button 
        class="btn btn-outline-info me-2" 
        [routerLink]="['/animals', animal.id, 'health']"
    >
        View Health Records
    </button>
    &nbsp;
    <button 
        class="btn btn-outline-success me-2" 
        [routerLink]="['/animals', animal.id, 'breeding']"
    >
        View Breeding Events
    </button>
</div>
</form>