<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Health Records</h2>
    <button class="btn btn-primary" (click)="onAddHealthRecord()">
      Add Health Record
    </button>
  </div>
  <div *ngIf="healthModel$ | async as records">
    <div class="list-group mt-3">
      <div class="list-group-item" *ngFor="let record of records">
        <!--
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ record.eventType }}</h5>
          <small>{{ record.date }}</small>
        </div>
        -->
        <p class="mb-1">{{ record.eventType }}&nbsp; | &nbsp;{{ record.date }}&nbsp; | &nbsp;{{ record.description }}&nbsp; | &nbsp;{{record.dosage}}</p>
        <div>
          <button class="btn btn-sm btn-info" (click)="onEdit(record.id!)">
            Edit
          </button>
          <button
            class="btn btn-sm btn-danger ms-2"
            (click)="onDelete(record.id!)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <!--
    <button
      class="btn btn-secondary" [routerLink]="['/edit-animal', animalId]">
      Back to Animal Record
    </button>
  -->
    <button
      class="btn btn-secondary" [routerLink]="['/']">
      Back to Animal Record
    </button>
  </div>
</div>